<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ice cream</title>
    <link rel="stylesheet" href="../src/css/ice.css">
</head>

<body>
    <header>
        <div class="logo">
            <img src="../src/storage/img/CREMhelado.png" alt="">
        </div>
        <nav class="div__menu">
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#">SERVICES</a></li>
                <li><a href="#">CONTACT</a></li>
                <li><a href="#">ABOUT</a></li>
                <li><a href="#">BUY NOW</a></li>
            </ul>
        </nav>
        <div class="option">
            <img src="../src/storage/img/search-md.png" alt="">
            <img src="../src/storage/img/buy.png" alt="">
        </div>
    </header>

    <main>
        <section class="product">

            <div class="FLAVOR">
                <p>Choose your favorite</p>
                <h1>ICE CREAM</h1>
                <h3>FLAVOR</h3>
            </div>

            <div class="ice-cream">
                <img src="../src/storage/img/IceCream.png" alt="">
                <img src="../src/storage/img/IceCream (1).png" alt="">
                <img src="../src/storage/img/IceCream (2).png " alt="">
            </div>
        </section>
        <section class="info">
            <h1>Ice Cream Shop</h1>
            <span>Free Delivery</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. </p>
            <div class="bottom__button">
                <a href="#" class="btn">BUY NOW</a>
            </div>
        </section>
    </main>
</body>

</html>