@import url(variables.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../storage/img/Rectangle.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 95px 1fr;
    gap: 2%;
    padding: 23px 1% 0 1%;
    grid-template-areas:
        "logo logo menu menu menu menu menu menu opcion opcion"
        "pre pre pre pre pre info info info info info";
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

header {
    display: contents;
}

main {
    display: contents;
}

.FLAVOR {
    position: absolute;
    text-align: center;
    margin-top: -65%;
    margin-left: 50%;
    line-height: 45px;
}

.FLAVOR p {
    font-family: "seaweed";
    color: #ffffff;
    font-size: 24px;
    font-weight: normal;
}

.FLAVOR h1 {
    font-family: "lalezar";
    color: #ffffff;
    font-size: 64px;
    font-weight: normal;
}

.FLAVOR h3 {
    font-family: "lalezar";
    color: #ffffff;
    font-size: 32px;
    font-weight: normal;

}

.logo {
    grid-area: logo;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: -710px;
    top: 40px;

}

.logo img {
    width: 50%;
    height: auto;
    object-fit: contain;
    max-width: 200px;
}

.menu {
    font-family: "inter";
    font-size: 28px;
    grid-area: menu;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul {
    display: flex;
    gap: 33px;
}

.menu ul li {
    list-style: none;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 28px;
}

.option {
    grid-area: opcion;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.product {
    grid-area: pre;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;


}

.logo {
    position: absolute;
    bottom: 235px;
    left: 70%;
    transform: translateX(-50%);
    max-width: 40%;
}

.ice-cream img {
    position: absolute;
    object-fit: contain;
    max-width: 1000%;
}

.ice-cream img:nth-child(1) {
    transform: rotate(10deg);
    width: 600px;
    height: 900px;
    z-index: 5;
    left: -220px;
    top: -390px;
}

.ice-cream img:nth-child(2) {
    transform: rotate(70deg);
    width: 600px;
    height: 900px;
    z-index: 10;
    left: -70px;
    top: -210px;
}

.ice-cream img:nth-child(3) {
    transform: rotate(40deg);
    width: 600px;
    height: 900px;
    z-index: 10;
    left: -130px;
    top: -295px;
}

.info {
    grid-area: info;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-1);
    margin-right: 67px;
    position: relative;
    margin-top: 130px;
}

.info h1 {
    font-size: 60px;
    font-family: "Inter";
    color: var(--color-1);
    margin-right: 40px;
}

.info span {
    font-size: 30px;
    font-family: "lalezar";
    color: var(--color-1);
}

.info p {
    font-size: 22px;
    font-family: "inter";
    max-width: 608px;
    font-weight: normal;
}

.bottom__button {
    align-self: flex-end;
    margin-right: 9vh;
}

.btn {
    background-color: var(--color-3);
    color: var(--color-1);
    padding: 19px 34px;
    text-decoration: none;
    font-size: 24px;
    border-radius: 10px;
    margin-top: 91px;
    display: inline-block;
    font-family: "Inter";
}


@media (max-width: 430px) {
    body {
        display: grid;
        background-image: none;
        overflow: visible;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 95px) 50px 1fr 294px;
        grid-template-areas: "logo logo logo"
            "menu menu menu"
            "opcion opcion opcion"
            "pre pre pre"
            "info info info";

    }



    .menu {
        margin-top: 50px;
        grid-area: menu;
    }

    .menu ul {
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        gap: 10px;
    }

    .menu ul>li {
        flex: 1;
    }

    .menu ul li a {
        text-align: center;
        display: block;
        width: 150px;
        border-radius: 10px;
        border: 5px solid var(--color-1);
        outline: 2px solid white;
        padding: 5px;
        background-color: var(--color-4);
    }

    .product {
        padding-top: 0;
        grid-area: pre;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        background-color: violet;
        width: 100%;

    }

    .logo {
        position: absolute;
        left: 37%;
        top: -70px;
        right: 0;
        margin: auto;
        width: 100%;
    }

    .ice-cream {
        position: relative;
        width: 100%;
        height: auto;
        max-width: 100vh;
    }

    .ice-cream img:nth-child(1),
    .ice-cream img:nth-child(2),
    .ice-cream img:nth-child(3) {
        transform: rotate(0deg);
        position: absolute;
        overflow: hidden;
        height: 500px;
        object-fit: contain;
        inset: 0;
        margin: 30px auto;
        z-index: -10;
    }

    .ice-cream img:nth-child(1) {
        transform: rotate(19deg);
        width: 514px;
        height: 500px;
        z-index: 5;
        left: -142px;
        top: -186px;
    }

    .ice-cream img:nth-child(2) {
        transform: rotate(19deg);
        width: 514px;
        height: 500px;
        z-index: 10;
        left: 0px;
        top: -190px;
    }

    .ice-cream img:nth-child(3) {
        transform: rotate(19deg);
        width: 514px;
        height: 500px;
        z-index: 5;
        left: 142px;
        top: -186px;
    }

    .info {
        grid-area: info;
        margin-top: 700px;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-top: 750px;
        margin: 5%;
    }

    .info h1,
    .info span,
    .info p {
        color: #fff;
    }

    .info h1 {
        font-size: 50px;
        font-family: "Inter_28pt-Bold";
    }

    .info span {
        font-size: 32px;
        font-family: "Lalezar-Regular";

    }

    .info p {
        font-size: 24px;
        font-family: "Inder-Regular";
    }

    .info a {
        font-size: 24px;
        width: 100%;
    }

    .bottom__button {
        align-self: center;
        margin-top: 25px;
        padding-left: 25%;
    }
}